[mysqld]
# Configuration générale
user = mysql
port = 3306
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid
bind-address = 0.0.0.0

log_error = /var/log/mysql/error.log

# Paramètres de performances
innodb_buffer_pool_size = 128M
innodb_log_file_size = 64M
